#
# @author Tri Kurniawan Wijaya
# @date Wed 28 May 2014 11:59:16 AM CEST 
#

# files
energy-file = energy-data.tmp
algorithm-file = cb-algLinearRegression.txt


# features parameters:
# Note that, 0 in history-weekday and history-weekend means: use all historical 
#   data available on the energy-file
history-weekday = 0
history-weekend = 0
lag-weekday = 7
lag-weekend = 5

# set minimal value allowed in the prediction (or the lower bound)
min-value-allowed = 0

