#
# @author Tri Kurniawan Wijaya
# @date Wed 28 May 2014 11:59:16 AM CEST 
#

# file output of the forecasting
file-output = electric_data_forecast.sql

# (mysql) database credential
dbHost     = localhost
dbDatabase = gsn
dbUsername = gsn
dbPassword = gsnpassword

# forecasting horizon (in days)
forecast-horizon = 7

# for CER dataset, we use timezone GMT+0
timezone = GMT+0

# file name for the excluding days (one of the parameters for to the ComputeBaseline.jar)
# if you do not know what this is, then better not to change it
cb-energy-file = energy-data.tmp
cb-exclude-file = cb-exclude.txt

